@model IEnumerable<CRUDWithModalPopup.Models.Product>;
@{
    ViewData["Title"] = "Product List";
}

<h3>@ViewData["Title"]</h3>
<hr />
<div class="d-flex justify-content-between align-items-center mb-2">
    <button class="btn btn-primary" id="btnAdd">Add Product</button>

    @* <div class="d-flex" asp-controller ="Product" asp-action="Index">
        <input type="text" id="searchInput" class="form-control me-2" placeholder="Search by Product Name or Price" style="width: 300px;">
        <button class="btn btn-primary" onclick="SearchProducts()">Search</button>
        <button class="btn btn-secondary ms-2" onclick="GetProducts()">Reset</button>
    </div> *@
    <form asp-controller="Product" asp-action="Index" method="get">
        <div class="input-group mb-3">
            <input id ="Search" type="text" name="search" class="form-control me-2" placeholder="Search by Product Name or Price"
                   value="@ViewData["CurrentFilter"]" style="width: 300px;">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
</div>
@* <div class="d-flex justify-content-between align-items-center mb-2">
    <form asp-controller="Product" asp-action="Index" method="get">
        <div class="input-group mb-3">
            <input type="text" name="searchString" class="form-control" placeholder="Search by Product Name or Price" value="@ViewData["CurrentFilter"]">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
    <button class="btn btn-primary" id="btnAdd">Add Product</button>
</div> *@

<div class="container">
    <table class="table table-success table-striped table-responsive table-hover">
        <thead>
            <tr>
                <th>Serial No</th>
                <th>Product Name</th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]">Price</a>
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="tblBody">
            @{
                var SerialNo = 1;
            }
            @foreach(var item in Model)
            {

                <tr>
                    <td>@SerialNo</td>
                    <td>@item.ProductName</td>
                    <td>@item.Price</td>
                    <td>
                        <button class="btn btn-primary btn-sm" onclick="Edit(@item.Id)">Edit</button>
                        <button class="btn btn-danger btn-sm" onclick="Delete(@item.Id)">Delete</button>
                        <button class="btn btn-info btn-sm" onclick="ShowDetails(@item.Id)">Details</button>
                   </td>
                </tr>
                SerialNo++;
            }
        </tbody>
    </table>
</div>
<div class="modal fade" id="ProductModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Product Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="ProductName" class="form-label">Product Name</label>
                        <input type="text" class="form-control" id="ProductName">
                    </div>
                    <div class="mb-3">
                        <label for="Price" class="form-label">Price</label>
                        <input type="text" class="form-control" id="Price">
                    </div>
                    <input type="hidden" id="Id" value="0">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="Save" onclick="Insert()" style="display: none;">Save</button>
                <button type="button" class="btn btn-primary" id="Update" onclick="Update()" style="display: none;">Update</button>
            </div>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/productjs.js"></script>